.fade-enter,
.fade-leave {
	transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.fade-enter.animate-enter-active,
.fade-enter { 
	opacity: 0;
}
.fade-leave.animate-leave-active,
.fade-leave { 
	opacity: 1;
}